* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .debug{
    border: 1px solid black;
    min-height: 50px;
} */

.immagini>img {
    width: 90%;
    aspect-ratio: 2;
}

.immagini {
    position: relative;
    display: none;
}

.title {
    position: absolute;
    bottom: 400px;
    left: 70px;
    border-radius: 0 0 20px 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 650px;
    font-size: 24px;
    text-shadow: 2px 2px 5px white;
    text-align: left;
}

.thumbnail {
    filter: brightness(60%);
}

.thumbnail>img{
    width: 15.65rem;
    aspect-ratio: 2;
}

.thumbnail.active {
    filter: brightness(100%);
    border: 2px solid white;
}

.fa-solid {
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.active {
    display: block;
    animation-name: opacity;
    animation-duration: 3s;
}

@keyframes opacity {
    to {
        opacity: 1
    }

    from {
        opacity: 0.2
    }
}